<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <ng-container  matColumnDef="FormId">
        <th><mat-header-cell *matHeaderCellDef mat-sort-header>Form Id</mat-header-cell></th>
        <td><mat-cell *matCellDef="let element">{{element.FormId}}</mat-cell></td>
    </ng-container>

    <ng-container  matColumnDef="FormType">
        <th><mat-header-cell *matHeaderCellDef mat-sort-header>Form Type</mat-header-cell></th>
        <td><mat-cell *matCellDef="let element">{{element.FormType}}</mat-cell></td>
    </ng-container>

   
    <ng-container  matColumnDef="FormName">
        <th><mat-header-cell *matHeaderCellDef  mat-sort-header>Form Name</mat-header-cell></th>
        <td>        <mat-cell *matCellDef="let element" >{{element.FormName | titlecase}}</mat-cell>
        </td>
    </ng-container>

    <ng-container  matColumnDef="StartDate">
        <th><mat-header-cell *matHeaderCellDef  mat-sort-header>Start Date</mat-header-cell></th>
        <td><mat-cell *matCellDef="let element">{{element.EffectiveDate.StartDate}}</mat-cell></td>
    </ng-container>

    <ng-container  matColumnDef="EndDate">
        <th><mat-header-cell *matHeaderCellDef  mat-sort-header>End Date</mat-header-cell></th>
        <td><mat-cell *matCellDef="let element">{{element.EffectiveDate.EndDate}}</mat-cell></td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns" (click)="onSelect(row)"></mat-row>
  </table>

  <mat-paginator 
   [pageIndex]= 0 
   [pageSizeOptions] ="[2, 3, 4]" 
   (page)= "getNext($event.pageIndex,$event.pageSize)" >
</mat-paginator>

</div>

<br>

<div class="extendedview" *ngIf="form">
  <br>
  <h2>{{form.FormType | titlecase}} Details : </h2>
  <ul class="formdetails">
      <li *ngFor="let formData of form.FormData">
          <span class="badge"> {{formData.Name}} :</span> {{formData.Value}}<br />
      </li>
  </ul>
  <a [routerLink]="['forms']" [queryParams]="{ id:form.FormType , formId:form.FormId}"><button class="buttons"
    id=add>Edit</button></a>&nbsp;
<button class="buttons" (click)="onDelete()">Delete</button>
</div>

