@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.nav-link{
    color: rgb(185, 219, 233);
}
.btn {
    color: rgb(185, 219, 233);
    background-color:#587f8f;
    border-color: rgb(185, 219, 233);
}
.navbar{
    color:turquoise;
}
