button {
  background-color: #587f8f;
  border: slategrey;
  color: white;
  padding: 2px 5px 4px 5px;
  text-align: center;
  width: 90px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 1.7em;
  margin-left: 100px;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 10px;
  
}

.formdetails {
    margin: 0 0 2em 0;
    list-style-type: unit($number: 100);
    padding: 0;
    width: 25em;
  }
  .formdetails li {
    //cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.4em;
    border-radius: 4px;
  }
//   .formdetails li:hover {
//     color: #607D8B;
//     background-color: #DDD;
//     left: .1em;
//   }
//   .formdetails li.selected {
//     background-color: #CFD8DC;
//     color: white;
//   }
//   .formdetails li.selected:hover {
//     background-color: #BBD8DC;
//     color: white;
//   }
  .formdetails .badge {
    display: inline-block;
    font-size: small;
    text-align: left;
    text-indent: 10px;
    width:170px;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#587f8f;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  