<div *ngIf="formType">
    <form>
        <h2>{{formType.FormType}}</h2>
        <ul class="FormFields">
            <li *ngFor="let formField of formType.FormFields">
                <span class="badge">{{formField.Name}} </span>
                <input required *ngIf="formField.Type !== 'select' " type={{formField.Type}} id={{formField.Id}}
                    [(ngModel)]="itemSet[formField.Id]" [ngModelOptions]="{standalone: true}">

                <select *ngIf="formField.Type == 'select' " [(ngModel)]="itemSet[formField.Id]"
                    [ngModelOptions]="{standalone: true}">
                    <option value="null" selected disabled hidden> Select </option>
                    <option *ngFor="let item of formField.Values" value={{item}}>{{item}}</option>
                </select>
            </li>
        </ul>
    </form>
</div>
<button (click)="onSubmit()" *ngIf="isEnabled()==false"> Submit</button>
<button (click)="onSubmit()" *ngIf="isEnabled()">Save</button>